<!DOCTYPE html>
<html lang="zh-CN" class="uk-height-1-1">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>管理面板-后台登录</title>
    <!-- UIKIT -->
    <load href="__BOWER__/uikit/css/uikit.almost-flat.min.css" />
    <load href="__BOWER__/vue/dist/vue.min.js" />
</head>

<body class="uk-height-1-1">
    <div id="app" class="uk-vertical-align uk-height-1-1">
        <div class="uk-vertical-align-middle" style="width:100%;">
            <div class="uk-block" style="background-image: url('__PUBLIC__/img/02.jpg');">
                <div style="margin:0 auto; width:300px;">
                    <div class="uk-text-center">
                        <img src="__PUBLIC__/Common/img/logo_mini.png" />
                        <br>
                        <br>
                    </div>
                    <form action="__CONTROLLER__/checkin" method="post" class="uk-panel uk-panel-box uk-panel-box-secondary uk-form">
                        <div class="uk-form-row uk-form-icon uk-width-1-1">
                            <i class="uk-icon-user"></i>
                            <input class="uk-width-1-2" type="text" v-model="username" name="username" placeholder="登录名">
                        </div>
                        <div class="uk-form-row uk-form-icon uk-width-1-1">
                            <i class="uk-icon-lock"></i>
                            <input class="uk-width-1-1" type="password" v-model="password" name="password" placeholder="密码">
                        </div>
                        <div class="uk-form-row uk-form-icon uk-width-1-1">
                            <i class="uk-icon-magnet"></i>
                            <input class="uk-width-1-1" type="text" minlength="6" maxlength="6" v-model="twofa_code" name="twofa_code" placeholder="2因子验证">
                        </div>
                        <div class="uk-form-row ">
                            <button :disabled="!username || !password || !twofa_code" class="uk-width-1-1 uk-button uk-button-primary" type="submit">Sign In</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var vm = new Vue({
        el: '#app',
        data: {
            "username": "",
            "password": "",
            "twofa_code": "",
        }
    })
    </script>
</body>

</html>